<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<div *ngIf="isLoggedIn(); else loggedOut">
  <h2>Welcome! You've already authorised a token.</h2>
  <div>
    <button class="btn btn-default" (click)="logout()">De-authorise</button>
  </div>
  <div *ngIf="container.get('scope').length<3">
    <h3>Error: It appears you have granted less than the necessary permissions for this application to work.
      Please reauthorise and allow all permissions requested (at minimum, profile, sleep, and heartbeat are required).
    </h3>
  </div>
</div>

<ng-template #loggedOut>
  <h2>No token found. Please authorise a Fitbit Token.</h2>
  <div>
    <button class="btn btn-default" (click)="authoriseWithFitbit()">Authorise</button>
  </div>
</ng-template>
