<div>
<form (submit)="something()">
    Choose a date:
    <input id="date" type="date" >
    <input type="submit">
</form>
</div>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript">

/* something() is called when user submits the datepicker */
        something = function() {
			chosen = document.forms[0].date.value;

            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!
            var yyyy = today.getFullYear();
            if(dd<10) {
                dd = '0'+dd
            }
            if(mm<10) {
                mm = '0'+mm
            }
            today = yyyy + '-' + mm + '-' + dd;

        	/* calling some function to retrieve data array*/
        	var data = getHeartRateData();
        	doStuff(data); /*send HRdata here  */
        }
        	/*data/dates is an array: [0] is start and end dates: [0][0] is start date in format yyyy-dd-mm and [0][1] is end date in format yyyy-dd-mm
[1] is array of timestamps for each heart rate value
[2] is array of heart rate values corresponding to each timestamp*/
/*movingMeans is an array: [0] is timestamps, [1] is average of the 5 values before and 5 values after
movingMeans starts later than data*/


            doStuff = function(data) {
                var sum = 0;
                var i;
                for (i = 0; i < data[2].length; i++) {
                    sum+=data[2][i];
                }
                var avg = sum/data[2].length;
                self.avgHR=avg;
                self.HRdate=data[0][0];
                var movingMeans = [];
                var movingMeanTime=[];
                var movingMeanValue = [];
                var j;
                for (j=5; j < data[2].length-5; j++) {
                    movingMeanTime.push(data[1][j]);
                    movingMeanValue.push((data[2][j-5]+data[2][j-4]+data[2][j-3]+data[2][j-2]+data[2][j-1]+data[2][j]+data[2][j+1]+data[2][j+2]+data[2][j+3]+data[2][j+4]+data[2][j+5])/11);
                }
                movingMeans.push(movingMeanTime);
                movingMeans.push(movingMeanValue);
                graph(data, movingMeans);

                self.analysis=analyze(data, movingMeans);
            };
		

		graph = function (dates, movingMeans) {
            var start=new Date(parseInt(dates[0][0].substring(0,4)), parseInt(dates[0][0].substring(5,7))-1, parseInt(dates[0][0].substring(8)), parseInt(dates[1][0].substring(0,2)), parseInt(dates[1][0].substring(3,5)), parseInt(dates[1][0].substring(6)));
            var end=new Date(parseInt(dates[0][1].substring(0,4)), parseInt(dates[0][1].substring(5,7))-1, parseInt(dates[0][1].substring(8)), parseInt(dates[1][dates[1].length-1].substring(0,2)), parseInt(dates[1][dates[1].length-1].substring(3,5)), parseInt(dates[1][dates[1].length-1].substring(6)));
            var datesPoints=[];
            var i;
            for(i = 0; i < dates[1].length; i++) {
                if (parseInt(dates[1][i].substring(0,2))<=12) {
                    datesPoints.push({x: new Date(end.getFullYear(),end.getMonth(),end.getDate(),parseInt(dates[1][i].substring(0,2)),parseInt(dates[1][i].substring(3,5)),parseInt(dates[1][i].substring(6))), y: dates[2][i] });
                }
                if (parseInt(dates[1][i].substring(0,2))>12) {
                    datesPoints.push({x: new Date(start.getFullYear(),start.getMonth(),start.getDate(),parseInt(dates[1][i].substring(0,2)),parseInt(dates[1][i].substring(3,5)),parseInt(dates[1][i].substring(6))), y: dates[2][i] });
                }
            }

            var datesPointsMM=[];
            var j;
            for(j = 0; j < movingMeans[0].length; j++) {
                if (parseInt(movingMeans[0][j].substring(0,2))<=12) {
                    datesPointsMM.push({x: new Date(end.getFullYear(),end.getMonth(),end.getDate(),parseInt(movingMeans[0][j].substring(0,2)),parseInt(movingMeans[0][j].substring(3,5)),parseInt(movingMeans[0][j].substring(6))), y: movingMeans[1][j] });
                }
                if (parseInt(movingMeans[0][j].substring(0,2))>12) {
                    datesPointsMM.push({x: new Date(start.getFullYear(),start.getMonth(),start.getDate(),parseInt(movingMeans[0][j].substring(0,2)),parseInt(movingMeans[0][j].substring(3,5)),parseInt(movingMeans[0][j].substring(6))), y: movingMeans[1][j] });
                }
            }

            var days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"];
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                exportEnabled: true,
                title:{
                    text: "Sleeping Heart Rate from " + start.toString().substring(0,24) + " to " + end.toString().substring(0,24),
                },
                axisY:{
                    title: "BPM",
                    includeZero: false,
                    interval: 10,
                    suffix: "",
                    valueFormatString: "#"
                },
                data: [{
                    type: "line",
                    yValueFormatString: "",
                    xValueFormatString: "HH:mm",
                    markerSize: 5,

                    dataPoints: datesPoints


               },
               {
                    type: "line",
                    yValueFormatString: "",
                    xValueFormatString: "HH:mm",
                    markerSize: 5,

                    dataPoints: datesPointsMM


               }]
            });
        chart.render();

        }


        analyze = function(dates, movingMeans) {
            console.log("Date: " + dates[0][1]);
            console.log("first value: " + dates[2][0]);
            console.log("middle value: " + dates[2][Math.round(dates[2].length/2)] + " at " + dates[1][Math.round(dates[2].length/2)]);
            console.log("last value: " + dates[2][dates[2].length-1]);
            console.log("first movingMean: " + movingMeans[1][0]);
            console.log("middle movingMean: " + movingMeans[1][Math.round(movingMeans[1].length/2)]);
            console.log("last movingMean: " + movingMeans[1][movingMeans[1].length-1]);

            var lowest = dates[2][0];
            var lowestTime = dates[1][0];
            var i;
            for (i in dates[2]) {
                if (dates[2][i]<lowest) {
                    lowest = dates[2][i];
                    lowestTime = dates[1][i];
                }
            }
            console.log("lowest value: " + lowest + " at " + lowestTime);

            var highest = dates[2][0];
            var highestTime = dates[1][0];
            var j;
            for (j in dates[2]) {
                if (dates[2][j]>highest) {
                    highest = dates[2][j];
                    highestTime = dates[1][j];
                }
            }
            console.log("highest value: " + highest + " at " + highestTime);


            var firstHalfMean;
            var firstHalfSum = 0;
            var k;
            for (k=0; k<=((dates[2].length)/2); k++) {
                firstHalfSum+=dates[2][k];
            }
            firstHalfMean = firstHalfSum/(dates[2].length/2);
            console.log("firstHalfMean: " + firstHalfMean);

            var secondHalfMean;
            var secondHalfSum = 0;
            var k;
            for (k=dates[2].length-1; k>((dates[2].length)/2); k--) {
                secondHalfSum+=dates[2][k];
            }
            secondHalfMean = secondHalfSum/(dates[2].length/2);
            console.log("secondHalfMean: " + secondHalfMean);


            var firstHalfMovingMean;
            var firstHalfMovingSum = 0;
            var h;
            for (h=0; h<=((movingMeans[1].length)/2); h++) {
                firstHalfMovingSum+=movingMeans[1][h];
            }
            firstHalfMovingMean = firstHalfMovingSum/(movingMeans[1].length/2);
            console.log("firstHalfMovingMean: " + firstHalfMovingMean);

            var secondHalfMovingMean;
            var secondHalfMovingSum = 0;
            var h;
            for (h=movingMeans[1].length-1; h>((movingMeans[1].length)/2); h--) {
                secondHalfMovingSum+=movingMeans[1][h];
            }
            secondHalfMovingMean = secondHalfMovingSum/(movingMeans[1].length/2);
            console.log("secondHalfMovingMean: " + secondHalfMovingMean);


            var firstQuarterMean;
            var firstQuarterSum = 0;
            var i;
            for (i=0; i<Math.round((dates[2].length)/4); i++) {
                firstQuarterSum+=dates[2][i];
            }
            firstQuarterMean = firstQuarterSum/(dates[2].length/4);
            console.log("firstQuarterMean: " + firstQuarterMean);

            var secondQuarterMean;
            var secondQuarterSum = 0;
            var i;
            for (i=Math.round(dates[2].length/4); i<((dates[2].length)/2); i++) {
                secondQuarterSum+=dates[2][i];
            }
            secondQuarterMean = secondQuarterSum/(dates[2].length/4);
            console.log("secondQuarterMean: " + secondQuarterMean);

            var thirdQuarterMean;
            var thirdQuarterSum = 0;
            var i;
            for (i=Math.round(dates[2].length/2); i<Math.round((dates[2].length)*3/4); i++) {
                thirdQuarterSum+=dates[2][i];
            }
            thirdQuarterMean = thirdQuarterSum/(dates[2].length/4);
            console.log("thirdQuarterMean: " + thirdQuarterMean);

            var fourthQuarterMean;
            var fourthQuarterSum = 0;
            var i;
            for (i=Math.round(dates[2].length*3/4); i<((dates[2].length)); i++) {
                fourthQuarterSum+=dates[2][i];
            }
            fourthQuarterMean = fourthQuarterSum/(dates[2].length/4);
            console.log("fourthQuarterMean: " + fourthQuarterMean);


            var firstQuarterMovingMean;
            var firstQuarterMovingSum = 0;
            var i;
            for (i=0; i<Math.round((movingMeans[1].length)/4); i++) {
                firstQuarterMovingSum+=movingMeans[1][i];
            }
            firstQuarterMovingMean = firstQuarterMovingSum/(movingMeans[1].length/4);
            console.log("firstQuarterMovingMean: " + firstQuarterMovingMean);

            var secondQuarterMovingMean;
            var secondQuarterMovingSum = 0;
            var i;
            for (i=Math.round(movingMeans[1].length/4); i<((movingMeans[1].length)/2); i++) {
                secondQuarterMovingSum+=movingMeans[1][i];
            }
            secondQuarterMovingMean = secondQuarterMovingSum/(movingMeans[1].length/4);
            console.log("secondQuarterMovingMean: " + secondQuarterMovingMean);

            var thirdQuarterMovingMean;
            var thirdQuarterMovingSum = 0;
            var i;
            for (i=Math.round(movingMeans[1].length/2); i<Math.round((movingMeans[1].length)*3/4); i++) {
                thirdQuarterMovingSum+=movingMeans[1][i];
            }
            thirdQuarterMovingMean = thirdQuarterMovingSum/(movingMeans[1].length/4);
            console.log("thirdQuarterMovingMean: " + thirdQuarterMovingMean);

            var fourthQuarterMovingMean;
            var fourthQuarterMovingSum = 0;
            var i;
            for (i=Math.round(movingMeans[1].length*3/4); i<((movingMeans[1].length)); i++) {
                fourthQuarterMovingSum+=movingMeans[1][i];
            }
            fourthQuarterMovingMean = fourthQuarterMovingSum/(movingMeans[1].length/4);
            console.log("fourthQuarterMovingMean: " + fourthQuarterMovingMean);

            <!--hammock test-->
            if ((firstQuarterMean>secondQuarterMean) || ((secondQuarterMean-firstQuarterMean)<0.75)) {
                if ((fourthQuarterMean>thirdQuarterMean) || ((thirdQuarterMean-fourthQuarterMean)<0.75)) {
                    return "Hammock—you had a good night's sleep!";
                    <!--if (dates[1][Math.round(dates[1].length/2)].substring(0,2)===lowestTime.substring(0,2)) {-->
                        <!--if (Math.abs(parseInt(dates[1][Math.round(dates[1].length/2)].substring(3,5))-parseInt(lowestTime.substring(3,5)))<15) {-->
                            <!---->
                        <!--}-->
                    <!--}-->
                }
            }

            <!--downward slope test-->
            if ((firstQuarterMean>secondQuarterMean) && (thirdQuarterMean>fourthQuarterMean)) {
                if ((firstQuarterMean>thirdQuarterMean) && (secondQuarterMean>fourthQuarterMean)) {
                    return "Downward Slope—your metabolism is working overtime. You may have had a late meal.";
                }
            }

            <!--dune test-->
            if ((firstHalfMean>dates[2][0]) || (dates[2][0]-firstHalfMean)<0.75) {
                if (secondQuarterMean>firstQuarterMean) {
                    return "Dune—you may have slept later than usual.";
                }
            }

            <!--random-->
            else {
                return "none";
            }

        }

</script>